{% extends "layout.html" %}
{% set navActive = "drafts" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
 {{ data['pageTitleAddOn' ]}}
{% endblock %}


{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-ful-width">

    <span class="govuk-caption-l govuk-!-margin-bottom-6">Understairs Ltd</span>
    <h2 class="govuk-heading-l" style="color: #1d70b8;">
      Supplier information
    </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Maintain core data set
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          Ensure your Supplier information are complete and up to date
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Edit<span class="govuk-visually-hidden"> Edit</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Exclusion Grounds
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          Ensure your Exclusion grounds are complete and up to date
        </dt>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mandatory exclusions
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Edit<span class="govuk-visually-hidden"> Edit</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Discretionary exclusions
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Edit<span class="govuk-visually-hidden"> Edit</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Connected persons
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__value">
          Ensure your Connected persons are complete and up to date
        </dt>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="#">
            Edit<span class="govuk-visually-hidden"> Edit</span>
          </a>
        </dd>
      </div>
    </dl>
  </div>
</div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-ful-width">
  
        <h2 class="govuk-heading-l" style="color: #1d70b8;">
          Manage User Documents
        </h2>

        <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            Ensure your Connected persons are complete and up to date
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Edit<span class="govuk-visually-hidden"> Edit</span>
            </a>
          </dd>
        </div>
        </dl>
    </div>
  </div>
{% endblock %}

